
<!-- <div style="background-image: url( https://www.postepic.com/images/background4.png ) " ></div> -->
<div class="container">
<!-- <img src="https://www.postepic.com/images/background4.png"> -->

<h1 class="h1"  >Quotes 
    Creator</h1>
   <img class="img2" width="400" alt="App Logo" src="https://is1-ssl.mzstatic.com/image/thumb/Purple115/v4/5f/62/d8/5f62d8a5-5fd9-4128-6b12-068a49839cab/AppIcon-1x_U007emarketing-0-0-GLES2_U002c0-512MB-sRGB-0-0-0-85-220-0-0-0-9.png/320x0w.jpg"> 

</div>






<app-quote></app-quote>
