<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<p>
 Author's Name: {{quote.author}}</p>
<p>
 Posted By:{{quote.posted}}</p>
 <p>  
    Posted on: {{quote.completeDate|date}}</p>
 <p>
     Posted :{{quote.completeDate|dateCount}} Days Ago 
 </p>
 <button (click)="upVote()"><i class="fa fa-thumbs-up" style="font-size: 18px">{{likes}}</i></button>
 <button (click)="downVote()"><i class="fa fa-thumbs-down" style="font-size: 18px">{{dislikes}}</i></button>







<br><br> <button (click)= 'quoteDelete(true)' class="btn btn-outline-danger">Delete Quote</button>

